<body>
<header>
	<div class="header_infos">

<a href="https://thehackingproject.herokuapp.com">I Am an Applicant</a>
<a href="https://thehackingproject.herokuapp.com">API & Docs</a>
<a href="https://thehackingproject.herokuapp.com">About Us</a>
<a href="https://thehackingproject.herokuapp.com">Careers</a>

	</div>

<div id="header_checkr">

<div class="logo_checkr">
<img src="https://checkr.com/wp-content/themes/checkr/assets/img/logo.svg" alt="logo checkr">
</div>
<div class="header_dropdown"> 

	<div class="dropbtn">PRODUCT</div>
	<div class="dropdown_content1">
		<a href="">Overview</a>
		<a href="">Screenings</a>
		<a href="">Compliance</a>
		<a href="">Security</a>
	</div>

	<div class="dropbtn">INDUSTRIES</div>
	<div class="dropdown_content2">
		<a href="">Overview</a>
		<a href="">Financial Services</a>
		<a href="">Healthcare</a>
		<a href="">Staffing</a>
		<a href="">Manufacturing</a>
		<a href="">Pantoufles</a>
		<a href="">Pataques</a>
		<a href="">Encore</a>
		<a href="">Overview</a>
		<a href="">Screenings</a>
		<a href="">Compliance</a>
		<a href="">Security</a>
	</div>

	<div class="dropbtn">RESOURCES</div>
	<div class="dropdown_content3">
		<a href="">Overview</a>
		<a href="">Screenings</a>
		<a href="">Compliance</a>
	</div>
</div>

<div id="header_droite">
	
<div class"login">LOG IN</div>
<div class"getstarted">GET STARTED </div>
</div>
</div>






</header>
</body>